
<ion-header>
  <ion-navbar>
    <ion-title>Appointment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>{{event.providerItemId}}</p>
  <ion-grid>
    <div class="box">
      <ion-row justify-content-center>
        <p>{{displayDate}}</p>
      </ion-row>
      <ion-row justify-content-center>
        <p>{{displayStart}} to {{displayEnd}}</p>
      </ion-row>
      <ion-row justify-content-center>
        <p>Client: {{event.clientName}}</p>
      </ion-row>
      <ion-row justify-content-center>
        <p>Service: {{event.serviceDescription}}</p>
      </ion-row>
    </div>
    <ion-row><br></ion-row>
    <div class="box">
      <ion-row justify-content-center>
        <p>Note</p>
      </ion-row>
      <ion-row justify-content-center>
        <p>{{event.visitNote}}</p>
      </ion-row>
    </div>
    <ion-row><br></ion-row>
    <div class="box">
      <ion-row justify-content-center>
        <p>Transaction</p>
      </ion-row>
      <ion-row class="revenue">
        <ion-col col-3 align-self-start>
          <p>Revenue</p>
        </ion-col>
        <ion-col col-5 align-self-center>
          <p *ngIf="event.pd">
            <ion-icon name="checkmark-circle"></ion-icon> Paid
          </p>
          <p *ngIf="!event.pd" (click)="pay()" style="color: black !important;" >
            <ion-icon name="card" ></ion-icon> Pay Now
          </p>
        </ion-col>
        <ion-col col-3 align-self-end>
          <p class="number">{{event.revenue.toFixed(2)}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let t of transactions">
        <ion-col col-2>
          <p>{{t.type}}</p>
        </ion-col>
        <ion-col col-7>
          <p>{{t.description}}</p>
        </ion-col>
        <ion-col col-3>
          <p class="number">{{t.amount.toFixed(2)}}</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>