<ion-header>
  <ion-navbar>
    <ion-title>Appointment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <p>{{event.providerItemId}}</p> -->
  <ion-grid>
    <div class="box">
      <ion-row *ngFor="let d of display" justify-content-center>
        <p>{{d}}</p>
      </ion-row>
      <ion-row justify-content-center>
        <p *ngIf="!editCompletionState" (click)="editCompletionState=true;">{{event.completionState}}</p>
        <button *ngIf="editCompletionState" (click)="setCompletionState('Open')">Open</button>
        <button *ngIf="editCompletionState" (click)="setCompletionState('No Show')">No Show</button>
        <button *ngIf="editCompletionState" (click)="setCompletionState('Cancelled')">Cancelled</button>
        <button *ngIf="editCompletionState" (click)="setCompletionState('Completed')">Completed</button>
      </ion-row>
      <ion-row justify-content-right>
        <ion-col col-9></ion-col>
        <ion-col col-3>
          <button class="editButton" ion-button icon-only (click)="editEvent()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </div>
    <!-- =============================== -->
    <ion-row><br></ion-row>
    <div class="listInBox">
      <ion-row>
        <ion-col col-9 justify-content-center>
          <p>Note</p>
        </ion-col>
        <ion-col col-3 justify-content-right>
          <!-- <button *ngIf="!editingNoteNow" class="editButton" ion-button icon-only (click)="editingNoteNow=true">Edit</button> -->
          <button *ngIf="!editingNoteNow" class="editButton" ion-button icon-only (click)="editingNoteNow=true">
            <ion-icon name="create"></ion-icon>
          </button>
          <button *ngIf="editingNoteNow" class="editButton" ion-button icon-only (click)="editingNoteNow=false; save()">
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-left>
        <ion-col col-12>
          <div *ngIf="!editingNoteNow">
            <p>Subjective: {{event.visitNote.subjective}}</p>
          </div>
          <div *ngIf="editingNoteNow">
            <ion-textarea class="editBox" type="text" rows=3 placeholder="Subjective"
              [(ngModel)]="event.visitNote.subjective"></ion-textarea>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-left>
        <ion-col col-12>
          <div *ngIf="!editingNoteNow">
            <p>Objective: {{event.visitNote.objective}}</p>
          </div>
          <div *ngIf="editingNoteNow">
            <ion-textarea class="editBox" type="text" rows=3 placeholder="Objective"
              [(ngModel)]="event.visitNote.objective"></ion-textarea>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-left>
        <ion-col col-12>
          <div *ngIf="!editingNoteNow">
            <p>Assessment: {{event.visitNote.assessment}}</p>
          </div>
          <div *ngIf="editingNoteNow">
            <ion-textarea class="editBox" type="text" rows=3 placeholder="Assessment"
              [(ngModel)]="event.visitNote.assessment"></ion-textarea>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-left>
        <ion-col col-12>
          <div *ngIf="!editingNoteNow">
            <p>Plan: {{event.visitNote.plan}}</p>
          </div>
          <div *ngIf="editingNoteNow">
            <ion-textarea class="editBox" type="text" rows=3 placeholder="Plan" [(ngModel)]="event.visitNote.plan">
            </ion-textarea>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!-- =============================== -->
    <ion-row><br></ion-row>
    <div class="listInBox">
      <ion-row justify-content-center>
        <p>Transaction</p>
      </ion-row>
      <ion-row class="revenue">
        <ion-col col-3 align-self-start>
          <p>Revenue</p>
        </ion-col>
        <ion-col col-5 align-self-center>
          <p *ngIf="event.pd">
            <ion-icon name="checkmark-circle"></ion-icon> Paid
          </p>
          <p *ngIf="!event.pd" (click)="pay()" style="color: black !important;">
            <ion-icon name="card"></ion-icon> Pay Now
          </p>
        </ion-col>
        <ion-col col-3 align-self-end>
          <p class="number">{{event.revenue.toFixed(2)}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let t of transactions">
        <ion-col col-2>
          <p>{{t.type}}</p>
        </ion-col>
        <ion-col col-7>
          <p>{{t.description}}</p>
        </ion-col>
        <ion-col col-3>
          <p class="number">{{t.formattedAmount}}</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>