<ion-header>

  <ion-navbar>
    <ion-title>Lookup {{searchName}}</ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding>
  <ion-toolbar color=primary>
    <ion-searchbar class="search" [(ngModel)]="searchTerm" debounce=1000 placeholder="Search" (ionInput)="getList()">
    </ion-searchbar>
  </ion-toolbar>
  <div *ngIf="itemsList">
    <ion-list>
      <div ion-item no-lines *ngFor="let z of itemsList; let i = index">
        <p (click)="choose(z.text, i)">{{z.text}}</p>
      </div>
    </ion-list>
  </div>
</ion-content>