<ion-header>

  <ion-navbar>
    <ion-title>Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="eventList">
    <ion-grid>
    <ion-row align-items-center>
      <ion-col col-1></ion-col>
      <ion-col col-10 align-self-center>
        <div class="boxInList">
          <p>{{client.name}}</p>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
      <div class="boxInList">
      <ion-row *ngFor="let z of eventList" (click)="selectEvent(z)">
          <!-- <ion-col col-1>
            <ion-icon name="create"></ion-icon>
          </ion-col> -->
          <ion-col col-4>
            <p>{{z.startDate}}</p>
          </ion-col>
          <ion-col col-2>
            <p>{{z.startTime}}</p>
          </ion-col>
          <ion-col col-5>
            <p>{{z.serviceDescription}}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>