<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Clients</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-toolbar color=primary>
    <ion-searchbar class="search" [(ngModel)]="searchTerm" debounce=750 placeholder="Search" (ionInput)="getList()">
    </ion-searchbar>
  </ion-toolbar>

  <div *ngIf="itemsList">
    <ion-grid>
      <ion-row *ngFor="let z of itemsList; let i = index" (click)="choose(i)" justify-content-start>
        <ion-col col-12>
          <div class="box">
            <p>{{z.name}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>