<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Clients</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-toolbar color=primary>
    <ion-searchbar class="search" [(ngModel)]="searchTerm" debounce=750 placeholder="Search" (ionInput)="getList()">
    </ion-searchbar>
  </ion-toolbar>

  <div *ngIf="itemsList">
    <ion-grid>
      <!-- not for this page? -->
      <!-- <ion-row>
        <ion-col col-9>
        </ion-col>
        <ion-col col-3>
          <button class="editButton" ion-button>Edit</button>
        </ion-col>
      </ion-row> -->
      <!-- header -->
      <!-- <ion-row>
        <ion-col col-5>
          <div class="myHeader">Name</div>
        </ion-col>
        <ion-col col-2>
          <div class="myHeader" float-right>Sch</div>
        </ion-col>
        <ion-col col-2>
          <div class="myHeader" float-right>Prv</div>
        </ion-col>
        <ion-col col-2>
          <div class="myHeader" float-right>NoS</div>
        </ion-col>
        <ion-col col-1>
          <div class="myHeader">R</div>
        </ion-col>
      </ion-row> -->
      <!-- <p ion-item no-lines *ngFor="let z of itemsList"> -->
      <ion-row *ngFor="let z of itemsList; let i = index" (click)="choose(i)">
        <ion-col col-10>
          <button ion-button>{{z.name}}</button>
        </ion-col>
        <!-- <ion-col col-2>
          <p float-right>{{z.formattedSch}}</p>
        </ion-col>
        <ion-col col-2>
          <p float-right>{{z.formattedPrv}}</p>
        </ion-col>
        <ion-col col-2>
          <p float-right>{{z.formattedNoS}}</p>
        </ion-col>
        <ion-col col-1>
          <ion-icon [name]="z.recurringIcon"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<!-- nn: string,
    name: string,
    address: AddressType,
    contacts: ContactInfoType[],
    previousAppts: number,
    noShowAppts: number,
    scheduledAppts: number,
    recurringScheduled: boolean -->