<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Business</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label class="checkOption">Name</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.businessName">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Address</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.address.label">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Street</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.address.street1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Street</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.address.street2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">City</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.address.city">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">State/Province</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.address.state">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Postal Code</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.address.zip">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Contacts</ion-label>
  </ion-item>
  <ion-grid>
    <div class="listInBox">
      <ion-row *ngFor="let z of biz.contacts">
        <ion-col col-3 (click)="editContact(z)">
          <p>{{z.label}}</p>
        </ion-col>
        <ion-col col-5 (click)="editContact(z)">
          <p>{{z.contact}}</p>
        </ion-col>
        <ion-col col-3>
          <div *ngIf="z.type==='phone'">
            <p *ngIf="z.okToText" (click)="toggleTextOK(z)">Text OK</p>
            <p *ngIf="!z.okToText" (click)="toggleTextOK(z)">No Text</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <p>
    <ion-icon class="checkOption" name="add-circle" (click)="addContact()"></ion-icon> Add Contact
  </p>

  <button ion-button [disabled]="!biz.businessName" (click)="settings()">Settings</button>
  <button ion-button *ngIf="auth.loggedIn" [disabled]="!biz.businessName" (click)="save()">Save</button>
  <button ion-button *ngIf="!auth.loggedIn" [disabled]="!biz.businessName" (click)="signup()">Sign Up</button>
  <!-- <button ion-button (click)="cancel()">Cancel</button> -->
</ion-content>