<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <p class="box">Activity</p>
  </ion-item>
  <ion-item no-lines>
    <ion-label class="checkOption">List clients who have been active within</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.listActive">
    <ion-item>
      <ion-label class="checkOption">1 Month</ion-label>
      <ion-radio value="1m" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">6 Months</ion-label>
      <ion-radio value="6m"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">1 Year</ion-label>
      <ion-radio value="1y"></ion-radio>
    </ion-item>
  </ion-list>

  <!-- <ion-item no-lines>
    <ion-label class="checkOption">Sort client list by</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.sortClientsBy">
    <ion-item>
      <ion-label class="checkOption">First Name</ion-label>
      <ion-radio value="first" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Last Name</ion-label>
      <ion-radio value="last"></ion-radio>
    </ion-item>
  </ion-list> -->

  <!-- <ion-item no-lines>
    <ion-label class="checkOption">Automatically log out</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.autoLogOut">
    <ion-item>
      <ion-label class="checkOption">After 2 hours idle</ion-label>
      <ion-radio value="yes" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Never</ion-label>
      <ion-radio value="no"></ion-radio>
    </ion-item>
  </ion-list> -->

  <!-- <ion-item no-lines>
    <ion-label class="checkOption">Who may complete the intake form?</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.whoIntake">
    <ion-item>
      <ion-label class="checkOption">Therapist only</ion-label>
      <ion-radio value="user" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Allow clients</ion-label>
      <ion-radio value="client"></ion-radio>
    </ion-item>
  </ion-list> -->

  <!-- <ion-item no-lines>
    <ion-label class="checkOption">Who can schedule?</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.whoSchedule">
    <ion-item>
      <ion-label class="checkOption">Therapist only</ion-label>
      <ion-radio value="user" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Clients can self-schedule</ion-label>
      <ion-radio value="client"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label class="checkOption">Requires use of companion app for clients.</ion-label>
  </ion-item> -->

  <!-- <ion-item no-lines>
    <ion-label class="checkOption">email daily schedule to: </ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.emailSchedule"></ion-input>
  </ion-item> -->
  <ion-item no-lines></ion-item>
  <ion-item>
    <p class="box">Calendar/Appointments</p>
  </ion-item>

  <ion-item no-lines>
    <ion-label class="checkOption">Default title for new appts: </ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="biz.defaultApptTitle"></ion-input>
  </ion-item>
  <ion-item></ion-item>
  <ion-item no-lines>
    <ion-label class="checkOption">Use calendar?</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.useCalendar">
    <ion-item>
      <ion-label class="checkOption">In-App Calendar</ion-label>
      <ion-radio value="in-app" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Native (Apple or Google)</ion-label>
      <ion-radio value="native"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label class="advise">Note if you use both iOs & Android devices, only the calendar native to that device will
      be updated when making appointments.</ion-label>
  </ion-item>

  <!-- <div *ngIf="biz.useCalendar!='in-app'">
    <ion-item>
      <ion-label class="checkOption">Name</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.calendar.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Id</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.calendar.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Owner</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.calendar.owner"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Connection Info</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.calendar.connectionInfo"></ion-input>
    </ion-item>
  </div> -->
  <ion-item no-lines></ion-item>
  <ion-item>
    <p class="box">Payments</p>
  </ion-item>
  <ion-item no-lines>
    <ion-label class="checkOption">Third-party Payments in App</ion-label>
  </ion-item>
  <ion-list radio-group [(ngModel)]="biz.acceptPayments">
    <ion-item>
      <ion-label class="checkOption">No, I'll handle outside the app.</ion-label>
      <ion-radio value="none" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Yes, with Stripe</ion-label>
      <ion-radio value="stripe"></ion-radio>
    </ion-item>
    <!-- <ion-item>
      <ion-label class="checkOption">Yes, with Square</ion-label>
      <ion-radio value="square"></ion-radio>
    </ion-item> -->
    <ion-item>
      <ion-label class="checkOption">Yes, with Paypal</ion-label>
      <ion-radio value="paypal"></ion-radio>
    </ion-item>
    <!-- <ion-item>
        <ion-label class="checkOption">My own cc processor merchant acct</ion-label>
        <ion-radio value="self"></ion-radio> -->
    <!-- </ion-item> -->
  </ion-list>

  <div *ngIf="biz.acceptPayments=='stripe'">
    <ion-item>
      <ion-label class="checkOption">Stripe Connection Info</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Merchant Key</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.stripe.secretKey"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="advise">This value is provided to you by Stripe, and identifies you as the payee for card
        transactions.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Transaction Fee (%)</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.stripe.fee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="advise">The fee Stripe charges you for processing transactions.</ion-label>
    </ion-item>
  </div>
  <div *ngIf="biz.acceptPayments=='paypal'">
    <ion-item>
      <ion-label class="checkOption">PayPal/Braintree Connection Info</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Merchant Id</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.paypal.merchantId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Public Key</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.paypal.publicKey"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Private Key)</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.paypal.privateKey"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Transaction Fee (%)</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.paypal.fee"></ion-input>
    </ion-item>
  </div>
  <!-- <div *ngIf="biz.acceptPayments=='square'">
    <ion-item>
      <ion-label class="checkOption">Square Connection Info</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Application ID</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.square.applicationId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Access Token</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.square.accessToken"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Location ID</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.square.locationId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="checkOption">Transaction Fee (%)</ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="biz.square.fee"></ion-input>
    </ion-item>
  </div> -->

  <ion-item no-lines></ion-item>
  <ion-item>
    <p class="box">Your Services</p>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <div class="myHeader">Service</div>
      </ion-col>
      <ion-col col-3>
        <div class="myHeader">Duration</div>
      </ion-col>
      <ion-col col-3>
        <div class="myHeader">Price</div>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let s of biz.services; let i = index">
      <ion-col col-5>{{s.name}}</ion-col>
      <ion-col col-3 align-self-end>{{s.duration}}</ion-col>
      <ion-col col-3 align-self-end>{{s.price}}</ion-col>
      <ion-col col-1 align-self-end>
        <ion-icon class="checkOption" name="remove-circle" (click)="removeService(i)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
        <ion-icon class="checkOption" name="add-circle" (click)="addService()"></ion-icon>
      </ion-col>
      <ion-col col-5 align-self-start>
        <p>Add a Service</p>
      </ion-col>
      <ion-col col-6 align-self-end>
        <p><em>Please Save after removing a Service</em></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <p>
    <ion-icon class="checkOption" name="add-circle" (click)="addService()"></ion-icon> Add a Service
  </p> -->

  <button ion-button (click)="save()">Save</button>
</ion-content>