<ion-header>

  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>Service</ion-label>
      </ion-col>
      <ion-col col-7>
        <ion-input disabled class="checkOption" type="text" [(ngModel)]="event.serviceDescription">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>Price $</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class="checkOption" type="number" [(ngModel)]="price" (change)="revenueChange()">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>Tip $</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class="checkOption" type="number" [(ngModel)]="tipAmount" (change)="tipAmountChange()">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>or percent %</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class="checkOption" type="number" [(ngModel)]="tipPercent" (change)="tipPercentChange()">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>Discount $</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class="checkOption" type="number" [(ngModel)]="discountAmount" (change)="discountAmountChange()">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>or percent %</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class="checkOption" type="number" [(ngModel)]="discountPercent" (change)="discountPercentChange()">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input disabled class="checkOption" type="number" [(ngModel)]="totalCharge">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-left>
      <ion-col col-5>
        <ion-label>Pay with</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="payMethod==='stripe'" justify-content-center>
      <button ion-button (click)="pay('stripe')">Stripe</button>
    </ion-row>
    <!-- <ion-row *ngIf="payMethod==='square'" justify-content-center>
      <button ion-button (click)="pay('square')">Square</button>
    </ion-row> -->
    <ion-row *ngIf="payMethod==='paypal'" justify-content-center>
      <button ion-button (click)="pay('paypal')">PayPal</button>
    </ion-row>
    <ion-row *ngIf="payMethod==='merch'" justify-content-center>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button (click)="pay('cash')">Cash</button>
    </ion-row>
    <!-- <ion-row *ngIf="acceptChecks" justify-content-center> -->
    <ion-row justify-content-center>
      <button ion-button (click)="pay('check')">Check</button>
    </ion-row>
  </ion-grid>
</ion-content>