// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content {
    background-color: color($colors, background);
}

.item {
    background-color: color($colors, background);
}


.button {
    background-color: color($colors, secondary);
    color: color($colors, primary);
}

.myHeader {
    text-decoration: underline;
}

.pageTitle {
    color: color($colors, primary);
    word-break: break-word;
    white-space: normal;
}

.editButton {
        height: 18px;
}

.number {
    text-align: right;
}

.box {
    padding: 2px;
    width: 100%;
    background-color: color($colors, secondary);
    border-style: solid;
    border-color: color($colors, boxborder);
    border-width: 1px;
}
.listInBox {
    padding: 2px;
    width: 100%;
    background-color: color($colors, tertiary);
    border-style: solid;
    border-color: color($colors, boxborder);
    border-width: 1px;
}
.boxInList {
    padding: 2px;
    width: 100%;
    background-color: color($colors, tertiary);
    border-style: solid;
    border-color: color($colors, boxborder);
    border-width: 1px;
    text-align: center;
}

p {
    color: color($colors, darkText) !important;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
    white-space: normal;
}
