<ion-header>

  <ion-navbar>
    <ion-title>Client</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <p class="helpful">Changing Client Details</p>
  <br> -->
  <ion-item>
    <ion-label class="checkOption">Name</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.name">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Address</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.address.label">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Street</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.address.street1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Street</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.address.street2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">City</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.address.city">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">State/Province</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.address.state">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Postal Code</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.address.zip">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="checkOption">Preferences</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-input type="text" [(ngModel)]="client.preferences">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="checkOption">Contacts</ion-label>
  </ion-item>
  <ion-item no-lines>
  </ion-item>
  <ion-grid>
    <div class="listInBox">
      <ion-row *ngFor="let z of client.contacts; let i = index">
        <ion-col col-3 (click)="editContact(z)">
          <p>{{z.label}}</p>
        </ion-col>
        <ion-col col-5 (click)="editContact(z)">
          <p>{{z.contact}}</p>
        </ion-col>
        <ion-col col-3>
          <div *ngIf="z.type==='phone'">
            <p *ngIf="z.okToText" (click)="toggleTextOK(z)">Text OK</p>
            <p *ngIf="!z.okToText" (click)="toggleTextOK(z)">No Text</p>
          </div>
        </ion-col>
        <ion-col col-1 align-self-end>
          <ion-icon class="checkOption" name="remove-circle" (click)="removeContact(i)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col col-1>
        <ion-icon class="checkOption" name="add-circle" (click)="addContact()"></ion-icon>
      </ion-col>
      <ion-col col-5 align-self-start>
        <p>Add a Contact Method</p>
      </ion-col>
      <ion-col col-6 align-self-end>
        <p><em>Save after removing a Contact</em></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <p>
    <ion-icon class="checkOption" name="add-circle" (click)="addContact()"></ion-icon> Add Contact
  </p> -->

  <button ion-button [disabled]="!client.name" (click)="save()">Save</button>
  <!-- <button ion-button (click)="cancel()">Cancel</button> -->
</ion-content>