<ion-header>

  <ion-navbar>
    <ion-title>Client</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="helpful">Changing Client Details</p>
  <br>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-5>
        Name
        <p>Name</p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>Address</p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.address.label"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>Street</p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.address.street1"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p> </p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.address.street2"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>City</p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.address.city"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>State/Province</p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.address.state"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>Postal Code</p>
      </ion-col>
      <ion-col col-6>
<ion-input type="text" [(ngModel)]="client.address.zip"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>Contacts</p>
      </ion-col>
      <ion-col col-6>

      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-item>
    <ion-label color="primary">Name</ion-label>
    <ion-input type="text" [(ngModel)]="client.name">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Address</ion-label>
    <ion-input type="text" [(ngModel)]="client.address.label">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Street</ion-label>
    <ion-input type="text" [(ngModel)]="client.address.street1"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label color="primary">Street</ion-label>
    <ion-input type="text" [(ngModel)]="client.address.street2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">City</ion-label>
    <ion-input type="text" [(ngModel)]="client.address.city">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">State/Province</ion-label>
    <ion-input type="text" [(ngModel)]="client.address.state">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Postal Code</ion-label>
    <ion-input type="text" [(ngModel)]="client.address.zip">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Contacts</ion-label>
  </ion-item>
  <ion-grid>
    <div class="listInBox">
      <ion-row *ngFor="let z of client.contacts">
        <ion-col col-3 (click)="editContact(z)">
          <p>{{z.label}}</p>
        </ion-col>
        <ion-col col-5 (click)="editContact(z)">
          <p>{{z.contact}}</p>
        </ion-col>
        <ion-col col-3>
          <div *ngIf="z.type==='phone'">
            <p *ngIf="z.okToText" (click)="toggleTextOK(z)">Text OK</p>
            <p *ngIf="!z.okToText" (click)="toggleTextOK(z)">No Text</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <p><ion-icon color="primary" name="add-circle" (click)="addContact()"></ion-icon>  Add Contact</p>
  <ion-item>
    <ion-label color="primary">Preferences</ion-label>
    <ion-input type="text" [(ngModel)]="client.preferences">
    </ion-input>
  </ion-item>
  <button ion-button [disabled]="!client.name" (click)="save()">Save</button>
  <!-- <button ion-button (click)="cancel()">Cancel</button> -->
</ion-content>