<ion-header>

  <ion-navbar>
    <ion-title>Client</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row align-items-center (click)="navTo('client')">
      <ion-col col-1></ion-col>
      <ion-col col-10 align-self-center>
        <div class="boxInList">
          <p>{{item.name}}</p>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-1></ion-col>
      <ion-col col-10 align-self-center (click)="navTo('intake')">
        <div class="boxInList">
          <p>Intake/History</p>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-1></ion-col>
      <ion-col col-10 align-self-center (click)="navTo('appt')">
        <div class="boxInList"> 
          <p>Appointments</p>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-1></ion-col>
      <ion-col col-10 align-self-center (click)="navTo('trans')">
        <div class="boxInList">
          <p>Transactions/Payments</p>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-1></ion-col>
      <ion-col col-10 align-self-center (click)="toggleMetrics()">
        <div class="boxInList">
          <p>Stats</p>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row *ngIf="metrics" align-items-center>
      <ion-col col-2></ion-col>
      <ion-col col-8 align-self-center>
        <div class="boxInList">
          <p>Previous Appts  {{item.previousAppts}}</p>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row *ngIf="metrics" align-items-center>
      <ion-col col-2></ion-col>
      <ion-col col-8 align-self-center>
        <div class="boxInList">
          <p>Scheduled Appts  {{item.scheduledAppts}}</p>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row *ngIf="metrics" align-items-center>
      <ion-col col-2></ion-col>
      <ion-col col-8 align-self-center>
        <div class="boxInList">
          <p>No Show Appts  {{item.noShowAppts}}</p>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>